
<!DOCTYPE html>
<head>
  <title>Vega-Lite Chart</title>
  <meta charset="utf-8">

  <script src="https://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/2.6.5/vega.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/1.2.1/vega-lite.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/2.2.0/vega-embed.min.js" charset="utf-8"></script>

  <style media="screen">
    /* Add space between vega-embed links  */
    .vega-actions a {
      margin-right: 5px;
    }
  </style>
</head>
<body>
  <!-- Container for the visualization -->
  <div id="vis"></div>

  <script>
  var vlSpec = {
    "encoding": {
        "color": {
            "field": "Average Wind Speed Category ",
            "type": "nominal"
        },
        "x": {
            "field": "Location",
            "type": "nominal"
        },
        "y": {
            "axis": {
                "format": "f"
            },
            "field": "Average Wind Speed (kts) Per Station",
            "type": "quantitative"
        }
    },
    "mark": "bar",
    "data": {
        "values": [
            {
                "Location": "ATHENRY GALWAY(A)",
                "Average Wind Speed (kts) Per Station": 5.22671568627451,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "BALLYHAISE CAVAN(A)",
                "Average Wind Speed (kts) Per Station": 4.9056372549019605,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "BELMULLET(A)",
                "Average Wind Speed (kts) Per Station": 12.840686274509803,
                "Average Wind Speed Category ": "High"
            },
            {
                "Location": "CASEMENT AERODROME",
                "Average Wind Speed (kts) Per Station": 7.360294117647059,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "CLAREMORRIS(A)",
                "Average Wind Speed (kts) Per Station": 6.772058823529412,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "CORK AIRPORT",
                "Average Wind Speed (kts) Per Station": 9.107843137254902,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "DUBLIN AIRPORT",
                "Average Wind Speed (kts) Per Station": 8.057598039215685,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "DUNSANY MEATH(A)",
                "Average Wind Speed (kts) Per Station": 4.069852941176471,
                "Average Wind Speed Category ": "Low"
            },
            {
                "Location": "FINNER DONEGAL(A)",
                "Average Wind Speed (kts) Per Station": 10.604166666666666,
                "Average Wind Speed Category ": "High"
            },
            {
                "Location": "GURTEEN TIPPERARY(A",
                "Average Wind Speed (kts) Per Station": 4.572303921568627,
                "Average Wind Speed Category ": "Low"
            },
            {
                "Location": "JOHNSTOWN CASTLE(A)",
                "Average Wind Speed (kts) Per Station": 8.276960784313726,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "KNOCK AIRPORT(P)",
                "Average Wind Speed (kts) Per Station": 10.045343137254902,
                "Average Wind Speed Category ": "High"
            },
            {
                "Location": "MACE HEAD GALWAY(A)",
                "Average Wind Speed (kts) Per Station": 14.075980392156863,
                "Average Wind Speed Category ": "High"
            },
            {
                "Location": "MALIN HEAD(A)",
                "Average Wind Speed (kts) Per Station": 13.232843137254902,
                "Average Wind Speed Category ": "High"
            },
            {
                "Location": "MARKREE SLIGO(A)",
                "Average Wind Speed (kts) Per Station": 0.0,
                "Average Wind Speed Category ": "Low"
            },
            {
                "Location": "MOOREPARK CORK(A)",
                "Average Wind Speed (kts) Per Station": 4.889705882352941,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "MT DILLON ROSCOM(A)",
                "Average Wind Speed (kts) Per Station": 4.629901960784314,
                "Average Wind Speed Category ": "Low"
            },
            {
                "Location": "MULLINGAR(A)",
                "Average Wind Speed (kts) Per Station": 3.2120098039215685,
                "Average Wind Speed Category ": "Low"
            },
            {
                "Location": "NEWPORT MAYO(A)",
                "Average Wind Speed (kts) Per Station": 11.16299019607843,
                "Average Wind Speed Category ": "High"
            },
            {
                "Location": "OAK PARK CARLOW(A)",
                "Average Wind Speed (kts) Per Station": 5.08578431372549,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "PHOENIX PARK(A)",
                "Average Wind Speed (kts) Per Station": 0.0,
                "Average Wind Speed Category ": "Low"
            },
            {
                "Location": "ROCHES POINT(A)",
                "Average Wind Speed (kts) Per Station": 8.401960784313726,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "SHANNON AIRPORT",
                "Average Wind Speed (kts) Per Station": 6.553921568627451,
                "Average Wind Speed Category ": "Moderate"
            },
            {
                "Location": "SHERKIN ISLAND(A)",
                "Average Wind Speed (kts) Per Station": 12.39828431372549,
                "Average Wind Speed Category ": "High"
            },
            {
                "Location": "VALENTIA(A)",
                "Average Wind Speed (kts) Per Station": 13.470588235294118,
                "Average Wind Speed Category ": "High"
            }
        ]
    },
    "$schema": "https://vega.github.io/schema/vega-lite/v1.2.1.json"
}

  var embedSpec = {
    mode: "vega-lite",  // Instruct Vega-Embed to use the Vega-Lite compiler
    spec: vlSpec
  };

  // Embed the visualization in the container with id `vis`
  vg.embed("#vis", embedSpec, function(error, result) {
    // Callback receiving the View instance and parsed Vega spec
    // result.view is the View, which resides under the '#vis' element
  });
  </script>
</body>
</html>
